<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dragonfly.ToolsGui.Views.Utilities.TransformStockfishAnalysisSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dragonfly.ToolsGui.Views.Utilities.CaptureStockfishAnalysisSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dragonfly.ToolsGui.Views.Utilities.PgnToFenSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dragonfly.ToolsGui.GuiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dragonfly.ToolsGui.Views.Utilities.TransformStockfishAnalysisSettings>
            <setting name="StockfishAnalysisFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IntermediaryAnalysisFile" serializeAs="String">
                <value />
            </setting>
        </Dragonfly.ToolsGui.Views.Utilities.TransformStockfishAnalysisSettings>
        <Dragonfly.ToolsGui.Views.Utilities.CaptureStockfishAnalysisSettings>
            <setting name="StockfishPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FenFile" serializeAs="String">
                <value />
            </setting>
            <setting name="JsonOutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NodeCount" serializeAs="String">
                <value>10000000</value>
            </setting>
        </Dragonfly.ToolsGui.Views.Utilities.CaptureStockfishAnalysisSettings>
        <Dragonfly.ToolsGui.Views.Utilities.PgnToFenSettings>
            <setting name="PgnFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FenFile" serializeAs="String">
                <value />
            </setting>
        </Dragonfly.ToolsGui.Views.Utilities.PgnToFenSettings>
        <Dragonfly.ToolsGui.GuiSettings>
            <setting name="PgnToFen_PgnPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PgnToFen_FenPath" serializeAs="String">
                <value />
            </setting>
        </Dragonfly.ToolsGui.GuiSettings>
    </userSettings>
</configuration>